* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10rem;
    margin-top: 1rem;
    padding: 7rem 0;
}

.bank-credit label {
    margin-top: 40px;
    margin-left: 40px;
    width: 35%;
    outline: 0;
}

.bank-credit label input {
    height: 28px;
    outline: 0;
    margin-left: 10px;
}

.bank-credit .AZN span {
    margin-right: 20px;
}

.bank-month {
    display: flex;
    align-items: center;
}

.bank-month label {
    margin: 40px;
    width: 35%;
    outline: 0;
}

.bank-month label input {
    height: 28px;
    outline: 0;
    margin-left: 10px;
}

.bank-rate label {
    margin-left: 40px;
    margin-top: 10px;
    width: 35%;
    outline: 0;
}

.bank-rate label input {
    height: 28px;
    outline: 0;
    margin-left: 10px;
}

.bank-credit h3 {
    margin-left: 43px;
    margin-top: 20px;
    font-size: 36px;
}

.bank-credit p {
    line-height: 19px;
    font-size: 16px;
    box-sizing: inherit;
    max-width: 1102px;
    margin-top: 43px;
    margin-left: 43px;
}